@import "./fonts";
@import "./variables";

// Images
@mixin imgResponsive {
  width: 100%;
  height: auto;
}

// Position
@mixin posCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin posCenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Shadow
@mixin shadowOut {
  box-shadow: 0 0 24px $grey-01 !important;
}

// Spacing
@mixin mAuto {
  margin-left: auto !important;
  margin-right: auto !important;
}

// Text
@mixin fontCursive {
  font-family: LeviBrusf, sans-serif;
}
