@import "./fonts";
@import "./variables";
@import "./mixins";

// Backgrounds
.bg-transparent {
  background-color: transparent !important;

  * {
    background-color: transparent !important;
  }
}

// Borders

// Colors
.color-primary {
  color: $primary !important;
}

.color-secondary {
  color: $secondary !important;
}

.color-grey {
  color: $grey !important;
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #000 !important;
}

.color-info {
  color: $info !important;
}

.color-success {
  color: $success !important;
}

.color-warning {
  color: $warning !important;
}

.color-danger {
  color: $danger !important;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed !important;

  * {
    cursor: not-allowed !important;
  }
}

// Display
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.inline-blocks-wr {
  > * {
    display: inline-block !important;
  }
}

// Flex
.d-flex {
  display: flex !important;

  &-column {
    @extend .d-flex;
    flex-direction: column;
  }
}

// Float
.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

// Opacity
.opacity-05 {
  opacity: 0.5;
}

// Overflow
.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

// Position

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.posCenter {
  @include posCenter;
}

.posCenterX {
  @include posCenterX;
}

.posCenterY {
  @include posCenterY;
}


// - Radius
.circled {
  border-radius: 50% !important;
}

.rounded {
  border-radius: 8px;
}

// Shadows
.shadow-out {
  @include shadowOut;
}

// Sizing

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100% !important;
}

// Spacing
.mAuto {
  @include mAuto;
}

.mr-05 {
  margin-right: 4px;
}

@for $i from 1 through $step-num {
  .mt-#{$i} {
    margin-top: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .mr-#{$i} {
    margin-right: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .mb-#{$i} {
    margin-bottom: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .ml-#{$i} {
    margin-left: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .my-#{$i} {
    margin-top: $i * $step !important;
    margin-bottom: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .mx-#{$i} {
    margin-left: $i * $step !important;
    margin-right: $i * $step !important;
  }
}

.p-0 {
  padding: 0 !important;
}

@for $i from 1 through $step-num {
  .pt-#{$i} {
    padding-top: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .pr-#{$i} {
    padding-right: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .pb-#{$i} {
    padding-bottom: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .pl-#{$i} {
    padding-left: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .py-#{$i} {
    padding-top: $i * $step !important;
    padding-bottom: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .px-#{$i} {
    padding-left: $i * $step !important;
    padding-right: $i * $step !important;
  }
}

@for $i from 1 through $step-num {
  .p-#{$i} {
    padding: $i * $step !important;
  }
}

// Text
.ff-cursive {
  font-family: LeviBrusf, sans-serif;
}

.fs-05 {
  font-size: .5rem !important;
}

.fs-075 {
  font-size: .75rem !important;
}

.fs-0875 {
  font-size: .875rem !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-1125 {
  font-size: 1.125rem !important;
}

.fs-125 {
  font-size: 1.25rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.fs-175 {
  font-size: 1.75rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.f-st-italic {
  font-style: italic;
}

.lh-normal {
  line-height: normal;
}

.lh-1 {
  line-height: 1;
}

.lh-114 {
  line-height: 1.14;
}

.lh-133 {
  line-height: 1.33;
}

.text-center {
  text-align: center !important;

  &-md.head {
    @media (max-width: 991px) {
      text-align: center !important;
    }
  }

  &-sm.head {
    @media (max-width: 767.92px) {
      text-align: center !important;
    }
  }

  &-xs.head {
    @media (max-width: 575.92px) {
      text-align: center !important;
    }
  }
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-upp {
  text-transform: uppercase;
}

.text-low {
  text-transform: lowercase;
}

.text-cap {
  text-transform: capitalize;
}

.text-link {
  color: $secondary;
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

// Vertical align

.va-middle {
  vertical-align: middle !important;
}

.va-top {
  vertical-align: top !important;
}

// White-space

.ws-nowrap {
  white-space: nowrap;
}

.ws-normal {
  white-space: normal;
}
