// Colors
$primary: rgba(0, 0, 0, 0.85);
$secondary: #0091ff;
$grey: rgba(0, 0, 0, 0.5);
$bg-light: #fbfcfd;

$white: #fff;
$black: #000;
$grey-09: rgba($black, .9);
$grey-08: rgba($black, .8);
$grey-07: rgba($black, .7);
$grey-06: rgba($black, .65);
$grey-05: rgba($black, .5);
$grey-04: rgba($black, .4);
$grey-03: rgba($black, .3);
$grey-02: rgba($black, .2);
$grey-01: rgba($black, .1);

$info: #0091ff;
$info-bg: rgba($info, .5);
$warning: #f7b500;
$warning-bg: rgba($warning, .5);
$danger: #ff6a6a;
$danger-bg: rgba($danger, .5);
$success: #4cd964;
$success-bg: rgba($success, .5);

// Spacing
$step: 8px;
$step-num: 8;
