@import "../../../assets/scss/fonts";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

// select

// dropdown
.ant-select-dropdown {
  .ant-select-item-option-selected {
    &:not(.ant-select-item-option-disabled) {
      color: $white;
      background-color: $secondary;
    }
  }
}

// custom to redefine
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 66px;
  padding: 0 20px;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector::after,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder {
  line-height: 64px;
}
