@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.ant-btn {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  padding: 20px 50px;
  border-radius: 18px;
  transition: background-color .3s ease-in-out;
  height: unset;

  &:focus {
    box-shadow: none;
  }

  &.ant-btn-primary {

    &:hover, &:focus {
      background-color: $secondary;
      border-color: $secondary;
    }
  }

  &.ant-btn-link {
    text-transform: none;

    span {
      text-decoration: underline;
    }
  }
}
