@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.ant-popconfirm {
  .ant-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 16px;
    transition: background-color .3s ease-in-out;
  }
}
