@import "../../../assets/scss/fonts";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.SiderLayout {
  display: flex;

  .SiderLayout-sider {
    flex: 0 0 220px;
    margin-right: 32px;
  }

  .SiderLayout-content {
    flex: 1 1 auto;
    position: relative;
  }
}
