@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.TextImageRow {
  .TextImageRow-text {
    font-size: 22px;
    line-height: 1.67;
    color: $primary;
  }

  .TextImageRow-img {
    display: block;
  }
}
