@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.ant-alert {
  border-radius: 8px;

  &.alert-lg {
    font-size: 1.125rem;
    padding-left: 41px;
  }
}
