@import "../../../../assets/scss/fonts";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.OrderHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .OrderHeader-title {
    font-size: 18px;
    font-weight: 700;
  }

  .OrderHeader-date {
    font-size: 12px;
    color: $grey-04;
  }
}
