@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.Auth-modal-toggler {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
}

.Auth {

}
